* {
    margin: 0;
    padding: 0;
  }
  
  div {
    background-image: url('https://cdn.pixabay.com/photo/2016/07/08/15/44/banner-1504653_1280.png');
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    width: 80%;
  }
  
  h1 {
    margin: 10px;
    color: white;
    font-family: 'Roboto', helvetica;
    font-style: bold;
    font-size: 40px;
  }
  
  h2 {
    color: aliceblue;
    font-family: 'Roboto', helvetica;
    font-style: bold;
    font-size: 20px;
  }
  
  button {
    margin: 15px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding: 10px;
    align-items: center;
  }  