* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;;
}
/* Pesos da Fonte: 300 400 600*/
body {
    display: flex;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
    width: 500px;
    border-radius: 15px;
    padding: 25px;
}

.nft-card > img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    color: hsl(0, 0%, 100%);
}

p {
    color: hsl(215, 51%, 70%);
}

.nft-valor {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.nft-tempo-restante {
    color: hsl(215, 51%, 70%);
    font-weight: 600;
}

hr {
    border: solid hsl(215, 32%, 27%) 1px;
}


@media (max-width: 375px) {
    .nft-card {
        background-color: chocolate;
    }
}

@media (min-width: 1000px) and (max-width: 1500px){
    .nft-card {
        background-color: red;
    }
}

@media (min-width: 3000px) {
    .nft-card {
        background-color: lime;
    }
}

@media print {
    
}