* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-color: #e35869;
    font-family: sans-serif;
}

.cadastro {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    color: rgb(rgb(54, 54, 54));
}

h1 {
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 10px;
}

.botao-login {
    text-decoration: none;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    transition-property: background-color, color, border-radius;
    transition-duration: 250ms;
}

.botao-login:hover {
    background-color: rgb(69, 36, 100);
    border-radius: 20px;
}