@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cadastro {
    background-color: rgb(238, 236, 236);
    width: 30%;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#titulo {
    font-family: 'Poppins';
    margin-bottom: 20px;
    text-align: center;
}

fieldset {
    border: 0;
}

body {
    background: linear-gradient(45deg, #2d90e2, #4a00e0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 2%;

}

input,
select,
textarea,
option {
    border-radius: 5px;
    border: none;
    background: #d7d8da;
    font-size: 15px;
}

.campo {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.botao {
    text-align: center;
}

.botao-enviar {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: #2d90e2;
    color: white;
    padding: 5px 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 0px;
    transition-property: all;
    transition-duration: 250ms;
}

.botao-enviar:hover {
    background: linear-gradient(45deg, #2d90e2, #4a00e0);
    transform: scale(1.04);
    border-radius: 25px;
    padding: 5px 150px;
    font-size: 18px;
}

.botao-cancelar {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(143, 143, 143);
    color: white;
    padding: 5px 150px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 0px;
    transition-property: all;
    transition-duration: 250ms;
}

.botao-cancelar:hover {
    background: linear-gradient(45deg, #bebebe, #646464);
    transform: scale(1.04);
    border-radius: 25px;
    padding: 5px 150px;
    font-size: 18px;
}