

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    /* 300 400 600 800 */
    background-color: grey;
  }
  
  .menu {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.45);
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: center;
    z-index: 2;
    top: 0;
    
  }
  
  
  .menu > a {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  .imagem img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 8px 16px;
    justify-content: space-evenly;
    cursor: pointer;
    z-index:1 ;
  }
  
  .cards-card {
    width: 250px;
    padding: 20px;
    background-color: #eeee;
    border-radius: 10px;
  }
  
  .cards-card:hover {
    transform: scale(1.03);
    
  }
  
  .cards-card h1:hover {
    color: rgb(59, 59, 59);
    
  }
  
  
  
  img {
    width: 35px;
    height: 35px;
  }
  
  
  
  .linkedin {
    display: flex;
    z-index: 1;
  }
  
  main{
    position: relative;
    
    top:65px;
    display: grid;
    grid-template-areas: 20vw 20vw 20vw;
    
  }
  
  
  
  @media only screen and (max-width: 600px) {
    .imagem img {
      width: 100vw;
      height: 300px;
    }
  
    .menu {
      flex-direction: column;
  
    }
  }