* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.nav-item {
    margin: 0 20px;
    font-family: 'Rajdhani';
}

.img-fluid {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: white;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%; 
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(33,37,41,0) 0, rgba(33,37,41,0)35%, #212529 100%);
}

section.module.parallax-1 {
    background-image: url("https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg");
}

section.module.parallax h1 {
    font-family: 'Rajdhani';
    font-weight: 700;
    text-align: center;
    color: #f9f6fc;
}

section.module p {
    font-family: 'Rajdhani';
    font-weight: 500;
    text-align: center;
    color: #f9f6fc;
    font-size: 30px;
    margin-bottom: 0;
}

.regua {
    display:block;
    padding:0;
    margin: 10px 0;
    width:30%;
    height:2px;
    background: linear-gradient(45deg, #991eeb, #5822b4, #991eeb);
    align-self: center;
}