* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.nav-item {
    margin: 0 20px;
}

.img-fluid {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
    
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background: #ece7d5;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%; 
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(33,37,41,0) 0, rgba(33,37,41,0)40%, #212529 100%);
}

section.module.parallax-1 {
    background-image: url("https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg");
}

section.module h1 {
    @font-face {
        font-family: ;
        src: url('Gilroy-ExtraBold.otf') format ('opentype'), url('Gilroy-Light.otf');
    }
    text-align: center;
}