* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html {
    scroll-behavior: smooth;
  }
  
body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.nav-item {
    margin: 0 20px;
}

.banner {
    background-image: url(../images/banner-home.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 300px;
    height: 100vh;
    min-height: 500px;
}

.titulo-1 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: rgb(255, 0, 34);
    margin: 0;
}

.titulo-2 {
    font-family: sans-serif;
    font-weight: 500;
    text-align: left;
    color: #f9f6fc;
    font-size: 20px;
    margin-bottom: 20px;
}

.itens {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: 20px
}

.card-title {
    text-align: left;
    font-weight: bold;
}

.card-text {
    text-align: left;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
    border: none;
    
}
.card {
    margin: 20px 5px;
    text-decoration: none;
}
.card-body a {
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
    
}
.card-body a:hover {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;   
}