* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.nav-item {
    margin: 0 20px;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, #1a1b1b 100%);
}

section.module.parallax-1 {
    background-image: url(../images/banner-coringa.jpg);

}

.titulo-filme {
    font-weight: bold;
    font-size: 50px;
    padding: 20px
}




















.titulo-1 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: rgb(255, 0, 34);
    margin: 0;
}

.titulo-2 {
    font-family: sans-serif;
    font-weight: 500;
    text-align: left;
    color: #f9f6fc;
    font-size: 20px;
    margin-bottom: 20px;
}

.itens-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: 20px
}

.card-title {
    text-align: left;
    font-weight: bold;
}

.card-text {
    text-align: left;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
    border: none;
    
}
.card {
    margin: 20px 5px;
    text-decoration: none;
}
.card-body a {
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
    
}
.card-body a:hover {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;   
}