* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
.media-picture {
    background-image: url('https://www.digitalhouse.com/logo-DH.png');
}

/* button {
    background-color: #1a73e8;
    color: #fff;
    transition: all 0.5s
} */