* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer';
}

header {
    background-color: salmon;
    grid-area: header;
}

aside {
    background-color: crimson;
    grid-area: aside;
}

main {
    background-color: deepskyblue;
    grid-area: main;
    min-height: 500px;
    min-width: 1000px;
}

footer {
    background-color: lightpink;
    grid-area: footer;
}

h1 {
    text-align: left;
    margin-left: 80px;
    padding: 10px;
}

main .principal{
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-right: 20px;
    margin-left: 80px;
}

main .conteudo {
    width: 850px;
    height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid white;
}