@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   }

body {
    background: linear-gradient(45deg, #2d90e2, #4a00e0);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
        
}

 .cadastro {
    background-color: rgb(238, 236, 236);
    width:  30%;
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.nome {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    border: none;
}

.data {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.phone {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.radio {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 5px;
    margin-bottom: 5px;
=======
    margin-bottom: 20px;
>>>>>>> parent of 465baad (.)
=======
    margin-bottom: 20px;
>>>>>>> parent of 465baad (.)
    margin-left: 5px;
}

.opcao {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    
    margin-bottom: 10px;
    margin-left: 5px;
}

.selecione {
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.botao-login {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 20px;
    background-color: #2d90e2;
    color: white;
    padding: 5px 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 0px;
    transition-property: all;
    transition-duration: 250ms;
}

.botao-login:hover {
    background: linear-gradient(45deg, #2d90e2, #4a00e0);
    border-radius: 25px;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 20px;
}
 .botao-cancelar {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(143, 143, 143);
    color: white;
    padding: 5px 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 0px;
    transition-property: all;
    transition-duration: 250ms;
}

.botao-cancelar:hover {
    background-color: rgb(90, 90, 90);
    border-radius: 25px;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 20px;
}

