* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


.form_box {
  background-color: rgb(223, 220, 220);
  width:  50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

input, textarea, select {
  margin-bottom: 20px;
}

img {
  width: 200px;
}

button {
  height: 30px;
  margin-bottom:  14px;
  border-radius: 10px;
}

.cancel {
  background-color: black
}