
/* nome do seletor seguido de dois pontos ":" e a pseudo-classe que queremos utilizar */
selector:pseudo-classe {
    propriedade: valor;
}

/* Os links são elementos que tem pseudo-classes específicas. Neste caso: :link, :visited, :hover, :active */

/* Aplicar estilo aos links que tenham propriedade href */
a:link,

/* Aplicar estilo aos links que já tenham sido visitados pelo menos uma vez pelo usuário href */
a:visited {
    color: rgb(98, 8, 194);
    font-weight: bold;
}

/* Aplicar estilo a qualquer elemento que o usuário posicione o cursor */
a:hover,

/* Aplicar estilo aos links que estão sendo clicados pelo usuário */
a:active {
    color:rgb(136, 11, 74);
}

/* Os inputs são outro tipo de elemento que tenham pseudo-classes */

/* Aplica quando um elemento recebe o foco, ou seja, quando o usuário clica nesse elemento */
input:focus {border-color: orange;}

/* Aplica quando um elemento pode ser considerado como desabilitado */
input:disabled {background-color: gray;}

/*  */
:target {font-weight: bold;}

/* nome do seletor seguido de dois pontos duplo "::" e a pseudo-elemento que queremos utilizar */

/* Utilizado junto a propriedade content para introduzir conteúdo no documento utilizando CSS
Esse novo conteúdo aparecerá antes do conteúdo interno do elemento */
div::before {
    content: "Esse aparecerá antes do conteúdo do elemento";
    color: red;
}

/* Esse novo conteúdo aparecerá antes do conteúdo interno do elemento */
div::after {
    content: "Esse aparecerá depois do conteúdo do elemento";
    color: red;
}

/* Ordem geral da sintaxe do CSS */
selector #id .class :pseudo-classe ::pseudo-elemento [atributo]
{
    propriedade: valor;
    propriedade: valor;
    propriedade: valor;
}

/* invalid estiliza o input do elemento form cujos conteúdos não foram inseridos corretamente ou não foram validados */
input:invalid {
    background-color: red;
}

/* Coincide com um ou mais elementos em função da sua posição dentro de um grupo de elementos-irmãos.

Logo, a pseudo-classe :nth-child(nº do elemento escolhido) realiza a função de escolher por ordem apenas um (ou alguns) elemento(s) entre vários elementos iguais ou de classe iguais. Por exemplo: foi escolhido o primeiro li.
 */
li:nth-child(1) {
    border-radius: 5px;
    background-color: red;
}

/* Quando está presente, o required impede que o formulário seja enviado caso o campo que tem esse atributo não tenha sido preenchido pelo usuário.
*Nota: O required funciona com os seguintes tipos de entrada: text, search, url, tel, email, password, date pickers, number, checkbox, radio e file
 */
html < input type = "text" required >

/* A pseudo-classe :valid do CSS representa qualquer elemento <input> ou outro elemento do <form> cujo conteúdo se validou corretamente. Isso permite que os campos válidos adquiram facilmente uma aparência que ajuda o usuário a confirmar que seus dados foram inseridos corretamente.
 */
input:valid {
    background-color: green;
}

/* Se aplica quando um elemento está desabilitado. Quando algum elemento por algum motivo não pode ser acessado, colocamos: disabled.
Normalmente, se utiliza para dar estilos aos campos que os usuários não podem completar no formulário, ou simplesmente quando uma opção está desativada. */
input:disabled {
    background-color: gray;
}