
/* nome do seletor seguido de dois pontos ":" e a pseudo-classe que queremos utilizar */
selector:pseudo-classe {
    propriedade: valor;
}

/* Os links são elementos que tem pseudo-classes específicas. Neste caso: :link, :visited, :hover, :active */

/* Aplicar estilo aos links que tenham propriedade href */
a:link,

/* Aplicar estilo aos links que já tenham sido visitados pelo menos uma vez pelo usuário href */
a:visited {
    color: rgb(98, 8, 194);
    font-weight: bold;
}

/* Aplicar estilo a qualquer elemento que o usuário posicione o cursor */
a:hover,

/* Aplicar estilo aos links que estão sendo clicados pelo usuário */
a:active {
    color:rgb(136, 11, 74);
}

/* Os inputs são outro tipo de elemento que tenham pseudo-classes */

/* Aplica quando um elemento recebe o foco, ou seja, quando o usuário clica nesse elemento */
input:focus {border-color: orange;}

/* Aplica quando um elemento pode ser considerado como desabilitado */
input:disabled {background-color: gray;}

/*  */
:target {font-weight: bold;}

/* nome do seletor seguido de dois pontos duplo "::" e a pseudo-elemento que queremos utilizar */

/* Utilizado junto a propriedade content para introduzir conteúdo no documento utilizando CSS
Esse novo conteúdo aparecerá antes do conteúdo interno do elemento */
div::before {
    content: "Esse aparecerá antes do conteúdo do elemento";
    color: red;
}

/* Esse novo conteúdo aparecerá antes do conteúdo interno do elemento */
div::after {
    content: "Esse aparecerá depois do conteúdo do elemento";
    color: red;
}

/* Ordem geral da sintaxe do CSS */
selector #id .class :pseudo-classe ::pseudo-elemento [atributo]
{
    propriedade: valor;
    propriedade: valor;
    propriedade: valor;
}
