
/* nome do seletor seguido de dois pontos ":" e a pseudo-classe que queremos utilizar */
selector:pseudo-classe {
    propriedade: valor;
}

/* Os links são elementos que tem pseudo-classes específicas. Neste caso: :link, :visited, :hover, :active */

/* Aplicar estilo aos links que tenham propriedade href */
a:link,

/* Aplicar estilo aos links que já tenham sido visitados pelo menos uma vez pelo usuário href */
a:visited {
    color: rgb(98, 8, 194);
    font-weight: bold;
}

/* Aplicar estilo a qualquer elemento que o usuário posicione o cursor */
a:hover,

/* Aplicar estilo aos links que estão sendo clicados pelo usuário */
a:active {
    color:rgb(136, 11, 74);
}

/* Os inputs são outro tipo de elemento que tenham pseudo-classes */
input:focus {border-color: orange;}

input:disable